@media (min-width: 992px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-expand-lg .navbar-toggler {
    display: inherit !important;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column !important;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 1200px !important;
  }
}

@media only screen and (max-width: 1599px) {
}

@media only screen and (max-width: 1429px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
  .hero_section {
    padding-top: 130px;
  }
  .hero_section img {
    max-width: 350px;
    margin-bottom: 10px;
  }
  .about-image img {
    width: 40%;
    display: block;
    margin: 50px auto 0 auto;
  }
  .hero::before {
    height: 550px;
  }
  .launch-main .about-image img {
    margin: 0px auto 50px auto;
  }
  .common {
    margin-top: 100px;
  }
  .heading-soon {
    font-size: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .hero_section h5 {
    margin-right: 100px;
    font-size: 120px;
  }
  .hero::before {
    width: 700px;
    height: 550px;
  }
  .common {
    margin-top: 130px;
  }
  .heading {
    font-size: 70px;
  }
  .about-main {
    margin-top: 170px;
  }
  .about-main .about-content {
    margin-top: 0px;
  }
  .about-subcontent .about-contentimg {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .hero_section h5 {
    font-size: 100px;
    margin-right: 50px;
  }
  .hero_section {
    padding-top: 170px;
  }
  .hero::before {
    width: 500px;
    height: 550px;
  }
  .hero_section img {
    margin-left: 30px;
  }
  .common {
    margin-top: 130px;
  }
  .about-main .about-content H5 {
    font-size: 90px;
  }
  .about-main.common {
    margin-top: 170px;
  }
  .launch-content h5 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .launch-content h5 span {
    display: inherit;
    margin-left: 0px;
  }
  .heading-soon {
    font-size: 55px;
  }
}

@media only screen and (max-width: 480px) {
  .about-image img {
    width: 80%;
  }
  .hero_section img {
    max-width: 300px;
  }
  .hero_section h5 {
    font-size: 80px;
  }
  .about-subcontent {
    margin-left: 80px;
  }
  .about-main .about-content img:nth-child(1) {
    margin-bottom: 20px;
  }
  .about-main .about-content H5 {
    font-size: 70px;
  }
  .launch-content h5 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 350px) {
}
